<div>
  <h1>Pipes no Comunes</h1>
  <p>Pipes incluidos en Angular - Usualmente en el common module</p>
</div>

<div class="grid">
  <div class="col md-6">
    <p-fieldset legend="I18nSelect Pipe" [toggleable]="true">
      <p>
        Saludos {{ nombre }}, es un placer
        {{ genero | i18nSelect : invitacionMapa }} a nuestro evento.
      </p>
      <br />
      <p-button label="Cambiar Cliente" (onClick)="CambiarGenero()"></p-button>
    </p-fieldset>
  </div>
  <div class="col md-6">
    <p-fieldset legend="I18nPrural Pipe" [toggleable]="true">
      <p>
        Altualmente tenemos {{ clientes.length | i18nPlural : clientesMap }}
      </p>
      <br />
      <p-button label="Borrar cliente" (onClick)="borrarCliente()"></p-button>
    </p-fieldset>
  </div>
</div>

<div class="grid">

  <div class="col md-6">
    <p-fieldset legend="Slice Pipe" [toggleable]="true">
      <b>Original</b>
      <pre>{{clientes}}</pre>
      <br>
      <b>Slice: 0:2</b>
      <pre>{{clientes | slice:0:2}}</pre>
    </p-fieldset>
  </div>
  
  <div class="col md-6">
    <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
      <ul *ngFor="let item of persona | keyvalue">
        <li>
          {{item.key | titlecase}}: {{item.value}}
        </li>
      </ul>
    </p-fieldset>
  </div>
</div>

<div class="col md-6">
  <p-fieldset legend="Json Pipe" [toggleable]="true">
   <pre>{{heroes | json}}</pre>
  </p-fieldset>
</div>

<div class="col md-6">
  <p-fieldset legend="Async Pipe" [toggleable]="true">
   <pre *ngIf="!(valorPromesa | async)">Resolviendo promesa</pre>
   <pre>{{valorPromesa | async}}</pre>
    <br>
    <pre>{{miObservable | async}}</pre>
  </p-fieldset>
</div>